{
    # http_port 69
    https_port 443
}
# don't use ACME for certs (doesn't work with .lan tlds)

kitchen-dashboard.home.lan 192.168.10.14:443 {
    tls internal

    handle_path /server* {
		reverse_proxy kitchen-dashboard-server:4000
	}

	handle {
		reverse_proxy kitchen-dashboard-client:80
	}
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"

}

kitchen-dashboard.home.jujhar.com {
  tls {
      dns cloudflare {
          # yes these env vars are named badly and need to be swapped around
          zone_token {env.CF_API_TOKEN}
          api_token {env.CF_ZONE_JUJHAR_COM_TOKEN}
      }
  }

  handle_path /server* {
		reverse_proxy kitchen-dashboard-server:4000
	}

	handle {
		reverse_proxy kitchen-dashboard-client:80
	}

  header Access-Control-Allow-Origin "*"
  header Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
}
